In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/metropt-3-dataset/MetroPT3(AirCompressor).csv
/kaggle/input/metropt-3-dataset/Data Description_Metro.pdf

In [2]:
# Reading in first 100k rows of MetroPT3 Air Compressor data
metro_df = pd.read_csv('/kaggle/input/metropt-3-dataset/MetroPT3(AirCompressor).csv', nrows=100000)
metro_df.head()

,Unnamed: 0,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses
0,0,2020-02-01 00:00:00,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
1,10,2020-02-01 00:00:10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
2,20,2020-02-01 00:00:19,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
3,30,2020-02-01 00:00:29,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
4,40,2020-02-01 00:00:39,-0.012,9.318,9.302,-0.022,9.318,53.475,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0

In [3]:
metro_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       100000 non-null  int64
 1   timestamp        100000 non-null  object
 2   TP2              100000 non-null  float64
 3   TP3              100000 non-null  float64
 4   H1               100000 non-null  float64
 5   DV_pressure      100000 non-null  float64
 6   Reservoirs       100000 non-null  float64
 7   Oil_temperature  100000 non-null  float64
 8   Motor_current    100000 non-null  float64
 9   COMP             100000 non-null  float64
 10  DV_eletric       100000 non-null  float64
 11  Towers           100000 non-null  float64
 12  MPG              100000 non-null  float64
 13  LPS              100000 non-null  float64
 14  Pressure_switch  100000 non-null  float64
 15  Oil_level        100000 non-null  float64
 16  Caudal_impulses  100000 non-null  float64
dtypes: float64(15), int64(1), object(1)
memory usage: 13.0+ MB

In [4]:
metro_df.describe()

,Unnamed: 0,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.0,100000.0
mean,499995.000000,0.570024,8.970174,8.373563,-0.015490,8.972447,57.114244,1.309649,0.935790,0.064230,0.96794,0.935790,0.000010,0.999190,1.0,1.0
std,288676.577967,2.257192,0.555464,2.257944,0.097673,0.554905,3.377109,1.991827,0.245128,0.245163,0.17616,0.245128,0.003162,0.028449,0.0,0.0
min,0.000000,-0.030000,7.324000,-0.030000,-0.028000,7.326000,31.975000,0.020000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.0,1.0
25%,249997.500000,-0.012000,8.494000,8.390000,-0.020000,8.496000,55.300000,0.035000,1.000000,0.000000,1.00000,1.000000,0.000000,1.000000,1.0,1.0
50%,499995.000000,-0.012000,8.948000,8.862000,-0.018000,8.950000,57.300000,0.037500,1.000000,0.000000,1.00000,1.000000,0.000000,1.000000,1.0,1.0
75%,749992.500000,-0.010000,9.424000,9.360000,-0.016000,9.426000,59.175000,3.717500,1.000000,0.000000,1.00000,1.000000,0.000000,1.000000,1.0,1.0
max,999990.000000,10.544000,10.164000,10.158000,6.530000,10.168000,69.150000,8.292500,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.0,1.0

In [5]:
# Examining the caudal_impulses feature as it appears to have only one unique value
metro_df.Caudal_impulses.describe()

count    100000.0
mean          1.0
std           0.0
min           1.0
25%           1.0
50%           1.0
75%           1.0
max           1.0
Name: Caudal_impulses, dtype: float64

As the caudal impulses feature only contains the value 1 for all records I will not use it going forward.

Failure Information:

The dataset is unlabeled, but the failure reports provided by the company are available in the following table. This allows for evaluating the effectiveness of anomaly detection, failure prediction, and RUL estimation algorithms.

  Nr.     Start Time	          End Time	                 Failure	      Severity	         Report
* #1 	4/18/2020 0:00	   4/18/2020 23:59       Air leak	    High stress	
* #1 	5/29/2020 23:30     5/30/2020 6:00	    Air Leak	    High stress	Maintenance on 30Apr at 12:00
* #3 	6/5/2020 10:00	   6/7/2020 14:30	        Air Leak	    High stress	Maintenance on 8Jun at 16:00
* #4 	7/15/2020 14:30     7/15/2020 19:00      Air Leak	    High stress	Maintenance on 16Jul at 00:00